@using System.Configuration
@using System.Web.Optimization
@using BCAResearch.Auth


<!DOCTYPE html>

<html xmlns:ng="http://angularjs.org" id="ng-app" ng-controller="AppController">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=edge;" />
    <meta name="description" content="BCA Analytics">
    <meta name="author" content="BCA" />
    @Html.MetaAcceptLanguage()
    <title>@ViewBag.Title</title>
    <!--[if lte IE 8]>
        <script>
            document.createElement('ng-include');
            document.createElement('ng-pluralize');
            document.createElement('ng-view');
 
            // Optionally these for CSS
            document.createElement('ng:include');
            document.createElement('ng:pluralize');
            document.createElement('ng:view');
        </script>
    <![endif]-->    
    @Styles.Render("~/Content/css/bundle")
    <!--[if lt IE 9]>
        <script src="~/Scripts/html5shiv.js"></script>
        <link type="text/css" rel="stylesheet" href="~/Content/css/ie8.css" />
    <![endif]-->
    <script type="text/javascript">
        window.config = {
            isisRootApi: "@ConfigurationManager.AppSettings["ServicePath"]",
        clientServicePath: "@ConfigurationManager.AppSettings["DashboardClientServicePath"]",
        logoutUrl: "@(BcaCms.LoginUrl() + "/logout")",
        loginUrl: "@(BcaCms.LoginUrl())",
        banBaseUrl: '@ConfigurationManager.AppSettings["BanBaseUrl"]',
        forbiddenUrl: "@BcaCms.ForbiddenUrl()",
        dashboardBaseUrl: '@ConfigurationManager.AppSettings["DashboardBaseUrl"]',
        reportsBaseUrl: '@ConfigurationManager.AppSettings["ReportsBaseUrl"]'
        };
</script>
</head>
    <body >
        <div class="wrap">
            <header>
            </header>
            <div class="body @ViewBag.BrowserVersion" >
                @RenderBody()
            </div>
            <div class="push"></div>
        </div>
        <footer>
            @Html.Partial("~/Views/Shared/_Footer.cshtml")
        </footer>
        @Html.RequireJs("main.js")
   
    </body>


</html>
